*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body{
    background: #f3F5F9;
  
  }
  .wrapper{
    display: flex;
    position: relative;
  }
  .wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(81, 15, 187);
    padding: 30px 0;
  
  }
  .sidebar h2{
    background: chocolate;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid;
    border-top:1px solid floralwhite ;
  }
  .sidebar ul li a{
    color: blanchedalmond;
    display: block;
  }
  .sidebar ul li .fa{
    width: 25px;
  
  }
  .sidebar ul li:hover a{
  color: burlywood;
  }
  
  
  .wrapper .sidebar .sign-up{
          position: fixed;
          list-style: none;
          bottom: 80px;
          left:0;
          width: 200px;
          height: 120px;
          background-color: rgb(81, 15, 187);
          border: 1px solid #ccc;
          padding: 20px;
         color: darkorange;
         text-align: center;
  
  }
  .wrapper .main-content{
    width: 100%;
    margin-left: 200px;
  }
  .wrapper .main-content .header{
    padding: 20px;
    background: #f3F5F9;
    color: chocolate;
    border-bottom: 1px solid;
  }
  .wrapper .h{
    text-align: center;
    background-color: bisque;
  }
  .container {
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .worker {
    text-align: center;
  }
  
  .worker img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }  

  button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  h1{
    align-content: center;
    color: blueviolet;
    margin-top: 50px;
    margin-left: 100px;
    
  }